@model BankLedger.BLL.Models.ActiveAccount

<div class="modal fade" id="accountBalanceModal" tabindex="-1" role="dialog" aria-labelledby="accountBalanceModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accountBalanceModalLongTitle">Account Menu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="" method="post" id="updateAccount">
                    <div class="form-group">
                        <label asp-for="Balance">Amount:</label>
                        <input asp-for="Balance" class="form-control" />
                        <span asp-validation-for="Balance" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Deposit</button>
                <button type="button" class="btn btn-primary">Withdraw</button>
                <button type="button" class="btn btn-primary">Check Balance</button>
                <button type="button" class="btn btn-primary">Transaction History</button>
            </div>
        </div>
    </div>
</div>
